.home {
  min-height: 600px;
  max-width: 400px;
  width: 100%;
}

.home__location-search {
  background-color: lightgray;
  padding: 40px;
  border-radius: 8px;
}

.home__location-result {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
